.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.container {
  border: 1px solid;
  min-height: 60vh;
  max-height: 90vh;
  width: 60vw;
  margin: 50px auto 0 auto;
  overflow: scroll;
}

.nav-bar {
  border-bottom: 1px solid red;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.nav-bar .input-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* border: 1px solid; */
}

.nav-bar .input-div input {
  width: 70%;
  padding: 10px;
}

.nav-bar .btn-div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* border: 1px solid; */
}

.todolist {
  overflow: scroll;
}

.action-btn {
  display: flex;
  gap: 20px;
}

.edit-todo {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.done {
  background-color: rgba(115, 255, 0, 0.253);
  color: black;
  text-decoration: line-through;
}

/* loading spinner */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 120%;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #dfc;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
