body {
  background-image: url('https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  /* background-position: top 50%; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.container {
  border: 1px solid;
  min-height: 60vh;
  max-height: 90vh;
  width: 60vw;
  margin: 50px auto 0 auto;
  overflow-y: scroll;
  /* position: relative; */
}

.nav-bar {
  border-bottom: 1px solid red;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 52px;
  width: 57.7vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.nav-bar .input-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* border: 1px solid; */
}

.nav-bar .input-div input {
  width: 70%;
  padding: 10px;
  outline: none;
}

.nav-bar .btn-div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* border: 1px solid; */
}

.table {
  margin-top: 130px;
}

.todolist {
  overflow: scroll;
}

.action-btn {
  display: flex;
  gap: 20px;
}

.edit-todo {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.done {
  background-color: rgba(115, 255, 0, 0.253);
  color: black;
  text-decoration: line-through;
}

/* loading spinner */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 120%;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #dfc;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media only screen and (max-width: 760px) {
  /* body {
    background-image: url('https://images.pexels.com/photos/7376/startup-photos.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  } */
  .container {
    width: 100vw;
  }

  .nav-bar {
    width: 90%;
  }

  .nav-bar input {
    height: 40px;
  }

  .nav-bar .btn {
    width: 100px;
    height: 40px;
    font-size: 10px;
  }

  .nav-bar .btn-div {
    width: 100%;
  }

  .action-btn {
    flex-direction: column;
    gap: 5px;
  }

  .action-btn .btn {
    width: 50px;
    height: 30px;
    font-size: 10px;
  }
}
